@charset "UTF-8";
@font-face {
  font-family: "YekanRegular";
  src: url("../Fonts/yekan-regular.ttf") format("ttf"), url("../Fonts/yekan-regular.woff") format("woff"), url("../Fonts/yekan-regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YekanMedium";
  src: url("../Fonts/yekan-regular.ttf") format("ttf"), url("../Fonts/yekan-regular.woff") format("woff"), url("../Fonts/yekan-regular.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YekanBold";
  src: url("../Fonts/yekan-regular.ttf") format("ttf"), url("../Fonts/yekan-regular.woff") format("woff"), url("../Fonts/yekan-regular.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IranSans";
  src: url("../Fonts/IRANSansWeb(FaNum) Medium.ttf") format("ttf"), url("../Fonts/IRANSansWeb(FaNum) Medium.woff") format("woff"), url("../Fonts/IRANSansWeb(FaNum) Medium.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(540deg);
            transform: scale(1.1) rotate(540deg);
  }
  100% {
    -webkit-transform: rotate(3600deg) scale(1);
            transform: rotate(3600deg) scale(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(540deg);
            transform: scale(1.1) rotate(540deg);
  }
  100% {
    -webkit-transform: rotate(3600deg) scale(1);
            transform: rotate(3600deg) scale(1);
  }
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  max-width: 100%;
}

body {
  background-color: #FFFFFF;
}

main .Search {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  background-image: url("../images/bg.png");
  background-position: center;
  background-position-x: 100%;
  height: 775px;
  z-index: 2;
}

@media screen and (max-width: 1500.0051px) {
  main .Search {
    height: 650px;
  }
}

@media screen and (max-width: 1300.0031px) {
  main .Search {
    background-position-x: 80%;
  }
}

@media screen and (max-width: 1200.0021px) {
  main .Search {
    height: 500px;
    background-size: cover;
  }
}

@media screen and (max-width: 740.047px) {
  main .Search {
    margin-top: 0;
    top: 0;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search {
    height: 400px;
    background-position-x: 75%;
    background-position-y: 50px;
  }
}

main .Search .Search__Viech {
  direction: rtl;
  background-color: #FFFFFF;
  height: 115px;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  position: relative;
  top: 535px;
  border-radius: 50px 50px 0 0;
  -webkit-box-shadow: 0 0 30px #2E5D6A;
          box-shadow: 0 0 30px #2E5D6A;
}

@media screen and (max-width: 1900.0091px) {
  main .Search .Search__Viech {
    width: 90%;
  }
}

@media screen and (max-width: 1580.0851px) {
  main .Search .Search__Viech {
    width: 95%;
  }
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Viech {
    top: 500px;
  }
}

@media screen and (max-width: 1270.0721px) {
  main .Search .Search__Viech {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Viech {
    height: 300px;
    top: 500px;
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
  }
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Viech {
    top: 400px;
  }
}

main .Search .Search__Viech ul {
  margin: 0 auto;
  position: relative;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.5% 17.5% 19.5% 14.5%;
      grid-template-columns: 18.5% 17.5% 19.5% 14.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #E3E3E3;
  z-index: 3;
}

@media screen and (max-width: 1010.0101px) {
  main .Search .Search__Viech ul {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 875.578px) {
  main .Search .Search__Viech ul {
    width: 100%;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Viech ul {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 60px 60px;
        grid-template-rows: 60px 60px;
  }
}

main .Search .Search__Viech ul li {
  height: 100px;
  width: 100%;
  list-style: none;
  text-align: center;
  display: inline;
}

@media screen and (max-width: 750.057px) {
  main .Search .Search__Viech ul li {
    height: 75px;
    width: 99%;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Viech ul li {
    height: 60px;
  }
}

main .Search .Search__Viech ul li .Search__li--span {
  height: 100%;
  color: #2E5D6A;
  text-decoration: none;
  font-family: YekanMedium;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .Search .Search__Viech ul li .Search__li--span:hover {
  cursor: pointer;
  text-shadow: 0 5px 5px #B7B7B7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Viech ul li .Search__li--span .Search__Viech--logo img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 750.057px) {
  main .Search .Search__Viech ul li .Search__li--span .Search__Viech--logo img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

main .Search .Search__Viech ul li .Search__li--span .Search__Viech--text {
  position: relative;
  font-size: 1.7rem;
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Viech ul li .Search__li--span .Search__Viech--text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750.057px) {
  main .Search .Search__Viech ul li .Search__li--span .Search__Viech--text {
    font-size: 0.9rem;
    -ms-grid-columns: 45% 50%;
        grid-template-columns: 45% 50%;
    padding-top: 7.5px;
  }
}

main .Search .Search__Viech ul .Search__li--selected {
  border-radius: 5% 5% 0 0;
  margin-top: -10px;
  padding: 10px 0;
}

main .Search .Search__Viech ul .Search__li--selected::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 10px solid #FFDF00;
  border-radius: 0 0 25px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .Search .Search__Viech ul .Search__li--selected::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid #FFDF00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 10px;
  z-index: 5;
}

main .Search .Search__Resault {
  background-color: #FFFFFF;
  position: relative;
  top: 535px;
  width: 75%;
  padding: 0 5%;
  margin: 0 auto;
  border-radius: 0 0 50px 50px;
  -webkit-box-shadow: 0 0 30px #2E5D6A;
          box-shadow: 0 0 30px #2E5D6A;
}

main .Search .Search__Resault::before {
  content: "";
  height: 30px;
  width: 100%;
  left: 0;
  position: absolute;
  top: -30px;
  background: inherit;
  z-index: 2;
}

@media screen and (max-width: 1900.0091px) {
  main .Search .Search__Resault {
    width: 90%;
  }
}

@media screen and (max-width: 1580.0851px) {
  main .Search .Search__Resault {
    width: 95%;
  }
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Resault {
    top: 500px;
  }
}

@media screen and (max-width: 1270.0721px) {
  main .Search .Search__Resault {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Resault {
    top: 200px;
    height: 250px;
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
  }
}

@media screen and (max-width: 750.057px) {
  main .Search .Search__Resault {
    top: 180px;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault {
    top: 220px;
  }
}

main .Search .Search__Resault #Search {
  text-align: right;
}

main .Search .Search__Resault #Search .Search__Type {
  position: relative;
  width: 150px;
  height: 50px;
  display: inline-block;
  direction: rtl;
  text-align: right;
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Resault #Search .Search__Type {
    height: 60px;
  }
}

@media screen and (max-width: 750.057px) {
  main .Search .Search__Resault #Search .Search__Type {
    height: 40px;
  }
}

main .Search .Search__Resault #Search .Search__Type #Search__Type--Passenger, main .Search .Search__Resault #Search .Search__Type #Search__Type--isRound {
  display: none;
}

main .Search .Search__Resault #Search .Search__Type .select-selected {
  background-color: #FFFFFF;
  font-family: YekanRegular;
}

main .Search .Search__Resault #Search .Search__Type .select-selected::after {
  position: absolute;
  content: "ᐯ";
  top: 7.5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  color: #2E5D6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  -webkit-transform: scale(1.1, 0.8);
          transform: scale(1.1, 0.8);
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Resault #Search .Search__Type .select-selected::after {
    -webkit-transform: scale(1, 0.7);
            transform: scale(1, 0.7);
  }
}

main .Search .Search__Resault #Search .Search__Type .select-arrow-active::after {
  position: absolute;
  -webkit-transform: rotateX(180deg) scale(1.1, 0.8);
          transform: rotateX(180deg) scale(1.1, 0.8);
  top: 37.5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  color: #2E5D6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-family: YekanRegular;
}

main .Search .Search__Resault #Search .Search__Type .select-items div, main .Search .Search__Resault #Search .Search__Type .select-selected {
  direction: rtl;
  color: #2E5D6A;
  font-size: 1.3rem;
  font-family: YekanRegular;
  padding: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 1500.0051px) {
  main .Search .Search__Resault #Search .Search__Type .select-items div, main .Search .Search__Resault #Search .Search__Type .select-selected {
    font-size: 1rem;
  }
}

main .Search .Search__Resault #Search .Search__Type .select-items {
  position: absolute;
  background-color: #33B8BF;
  max-height: 220px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-animation: appear;
          animation: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main .Search .Search__Resault #Search .Search__Type .select-items div {
  color: #FFFFFF;
  font-family: YekanRegular;
}

main .Search .Search__Resault #Search .Search__Type .select-hide {
  display: none;
}

main .Search .Search__Resault #Search .Search__Type .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

main .Search .Search__Resault #Search .Search__Type .same-as-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

main .Search .Search__Resault #Search .Search__Information {
  position: relative;
  height: 120px;
  text-align: right;
  direction: rtl;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26% 5% 26% 23% 0% 20%;
      grid-template-columns: 26% 5% 26% 23% 0% 20%;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Search .Search__Resault #Search .Search__Information div {
  display: inline-block;
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start div, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div {
  border: 1px solid #B7B7B7;
  border-left: 0px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  padding: 0px 5px;
  margin-left: -5px;
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div {
    height: 45px;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span {
  color: #B7B7B7;
  font-size: 1.2rem;
  font-family: YekanRegular;
  margin: 0 2.5px;
  position: relative;
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span {
    font-size: 0.95rem;
    top: 5px;
  }
}

@media screen and (max-width: 1207.7021px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span {
    top: 0;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span span {
  font-size: 1.5rem;
  font-family: YekanRegular;
  position: relative;
  top: 2.5px;
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div span span, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div span span {
    font-size: 1.25rem;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start div img, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div img {
  position: relative;
  top: 5px;
}

@media screen and (max-width: 1207.7021px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div img, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div img {
    top: 7.5px;
  }
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div img, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div img {
    top: 12.5px;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div img, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div img {
    width: 20%;
    top: 5px;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start div img, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish div img {
    width: 10%;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--start input, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish input {
  height: 60px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid #B7B7B7;
  border-right: 0;
  color: #2E5D6A;
  font-family: YekanRegular;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start input, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish input {
    height: 45px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--start input, main .Search .Search__Resault #Search .Search__Information .Search__Information--finish input {
    width: 80%;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--change {
  text-align: center;
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--change:hover {
  cursor: pointer;
  -webkit-animation: rotate;
          animation: rotate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--change img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--change img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--change img {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--change {
    text-align: left;
  }
  main .Search .Search__Resault #Search .Search__Information .Search__Information--change:hover {
    -webkit-animation: none;
            animation: none;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date {
  margin: 0 20px 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date {
    margin: 0;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo {
  border: 1px solid #B7B7B7;
  border-left: 0px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  padding: 0px 5px;
  margin-left: -5px;
  position: relative;
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo {
    height: 45px;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span {
  color: #B7B7B7;
  font-size: 1.2rem;
  font-family: YekanRegular;
  margin: 0 2.5px;
  position: relative;
  top: 2.5px;
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span {
    font-size: 0.95rem;
    top: 5px;
  }
}

@media screen and (max-width: 1207.7021px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span {
    top: 0;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span span {
  font-size: 1.5rem;
  font-family: YekanRegular;
  position: relative;
  top: 2.5px;
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo span span {
    font-size: 1.25rem;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo img {
  position: relative;
  top: 5px;
}

@media screen and (max-width: 1400.0041px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo img {
    top: 10px;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo img {
    width: 20%;
    top: 10px;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo img {
    top: 5px;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date .Search__Information--date-logo img {
    width: 10%;
  }
}

main .Search .Search__Resault #Search .Search__Information .Search__Information--date input#Search__Information--Date {
  height: 60px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid #B7B7B7;
  border-right: 0;
  color: #2E5D6A;
  font-family: YekanRegular;
  font-size: 1.2rem;
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information .Search__Information--date input#Search__Information--Date {
    height: 45px;
    font-size: 1rem;
  }
}

main .Search .Search__Resault #Search .Search__Information input#Search__Information--submit {
  margin: 0 15px 0 0;
  border-radius: 10px;
  height: 60px;
  background-color: #FFDF00;
  border: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #2E5D6A;
  color: #2E5D6A;
  font-family: YekanBold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .Search .Search__Resault #Search .Search__Information input#Search__Information--submit:hover {
  color: #33B8BF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 5px #B7B7B7;
          box-shadow: 0 5px 5px #B7B7B7;
  cursor: pointer;
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Resault #Search .Search__Information input#Search__Information--submit {
    margin: 0;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information input#Search__Information--submit {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information input#Search__Information--submit {
    height: 45px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200.0021px) {
  main .Search .Search__Resault #Search .Search__Information {
    height: 100px;
    -ms-grid-columns: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
  }
}

@media screen and (max-width: 600.006px) {
  main .Search .Search__Resault #Search .Search__Information {
    -ms-grid-columns: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    -ms-grid-rows: 75px 75px;
        grid-template-rows: 75px 75px;
  }
}

@media screen and (max-width: 550.055px) {
  main .Search .Search__Resault #Search .Search__Information {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60px 0px 60px 60px 0px 60px;
        grid-template-rows: 60px 0px 60px 60px 0px 60px;
  }
}

main .Information {
  position: relative;
  background-color: rgba(51, 184, 191, 0.01);
  width: 100vw;
  z-index: 1;
  padding: 175px 12.5vw 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1200.0021px) {
  main .Information {
    width: 90vw;
    padding-top: 450px;
  }
}

@media screen and (max-width: 1000.0001px) {
  main .Information {
    width: 100vw;
    padding-top: 300px;
  }
}

@media screen and (max-width: 750.057px) {
  main .Information {
    padding-top: 350px;
  }
}

@media screen and (max-width: 740.047px) {
  main .Information {
    padding-top: 450px;
  }
}

@media screen and (max-width: 600.006px) {
  main .Information {
    padding-top: 350px;
  }
}

@media screen and (max-width: 550.055px) {
  main .Information {
    padding-top: 550px;
  }
}

main .Information .Info {
  display: inline-block;
  margin: 5%;
  text-align: center;
}

main .Information .Info .Info--topic {
  color: #2E5D6A;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #2E5D6A;
  margin: 5% 0;
  font-family: YekanBold;
}

@media screen and (max-width: 1200.0021px) {
  main .Information .Info .Info--topic {
    font-size: 1.5rem;
  }
}

main .Information .Info .Info--explain {
  color: #33B8BF;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: YekanMedium;
}

@media screen and (max-width: 1200.0021px) {
  main .Information .Info .Info--explain {
    font-size: 1rem;
  }
}

main .Offers {
  position: relative;
  width: 100vw;
  padding: 1px 10vw 0;
  margin: 0 auto;
  background-color: rgba(51, 184, 191, 0.01);
  text-align: center;
  height: 40vw;
}

@media screen and (max-width: 1600.0061px) {
  main .Offers {
    padding: 1px 5vw 0;
    height: 50vw;
  }
}

@media screen and (max-width: 1124.4211px) {
  main .Offers {
    height: 60vw;
  }
}

@media screen and (max-width: 700.007px) {
  main .Offers {
    height: 80vw;
  }
}

main .Offers .slick-next::before {
  content: "›";
}

main .Offers .slick-prev::before {
  content: "‹";
}

main .Offers .slick-arrow {
  width: 4vw;
  height: 4vw;
  z-index: 5;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1600.0061px) {
  main .Offers .slick-arrow {
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (max-width: 1124.4211px) {
  main .Offers .slick-arrow {
    width: 6.75vw;
    height: 6.75vw;
  }
}

@media screen and (max-width: 700.007px) {
  main .Offers .slick-arrow {
    width: 8vw;
    height: 8vw;
  }
}

main .Offers .slick-arrow:hover::before {
  color: #33B8BF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .Offers .slick-arrow::before {
  position: relative;
  font-size: 2vw;
  color: #2E5D6A;
  opacity: 1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600.0061px) {
  main .Offers .slick-arrow::before {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 1124.4211px) {
  main .Offers .slick-arrow::before {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 700.007px) {
  main .Offers .slick-arrow::before {
    font-size: 5vw;
  }
}

main .Offers .Offers__Topic {
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #2E5D6A;
  margin: 2.5% 0;
  color: #2E5D6A;
  font-family: YekanBold;
}

@media screen and (max-width: 1300.0031px) {
  main .Offers .Offers__Topic {
    font-size: 1.5rem;
  }
}

main .Offers .Offers__List {
  position: relative;
  height: 71%;
  display: block;
}

main .Offers .Offers__List .slick-list {
  height: auto;
}

main .Offers .Offers__List .slick-list .slick-track {
  max-width: none;
  height: auto;
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item {
  border-radius: 10%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 15px;
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--img {
  overflow: hidden;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--name {
  background-color: #FFDF00;
  color: #2E5D6A;
  opacity: 0.99;
  width: 70%;
  height: 75px;
  border-radius: 25px 25px 0 0;
  margin: 0 auto;
  padding-top: 5%;
  line-height: 2.5rem;
  font-size: 1.8rem;
  position: relative;
  font-family: YekanBold;
  top: -75px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1700.0071px) {
  main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--name {
    font-size: 1.5rem;
    height: 55px;
    top: -55px;
    padding-top: 2%;
  }
}

@media screen and (max-width: 1400.0041px) {
  main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--name {
    font-size: 1.3rem;
    height: 45px;
    top: -45px;
    padding-top: 1%;
  }
}

@media screen and (max-width: 1000.0001px) {
  main .Offers .Offers__List .slick-list .slick-track .Offers__item .Offers__item--name {
    height: 40px;
    top: -40px;
    padding-top: 0;
  }
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item:hover .Offers__item--name {
  opacity: 1;
  color: #33B8BF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 0 5px 5px #B7B7B7;
  cursor: pointer;
}

main .Offers .Offers__List .slick-list .slick-track .Offers__item:hover .Offers__item--img {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

main .Subscribe {
  position: relative;
  top: 5%;
  margin: 0px auto;
  height: 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: 700px 500px;
      grid-template-columns: 700px 500px;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  background-color: #ebf8f9;
}

@media screen and (max-width: 1250.0521px) {
  main .Subscribe {
    height: 300px;
    padding-top: 25px;
    -ms-grid-columns: 700px 300px;
        grid-template-columns: 700px 300px;
  }
}

@media screen and (max-width: 1050.0501px) {
  main .Subscribe {
    -ms-grid-columns: 65% 30%;
        grid-template-columns: 65% 30%;
  }
}

@media screen and (max-width: 860.068px) {
  main .Subscribe {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 250px 100px;
        grid-template-rows: 250px 100px;
    height: 750px;
    -ms-flex-line-pack: start;
        align-content: start;
  }
}

@media screen and (max-width: 600.006px) {
  main .Subscribe {
    height: 600px;
  }
}

main .Subscribe .Subscribe__form {
  float: right;
}

main .Subscribe .Subscribe__form .Subscribe__label {
  position: relative;
  top: 30%;
  color: #2E5D6A;
  margin: 2.5% 0;
  font-size: 1.3rem;
  font-family: YekanMedium;
  line-height: 3.5rem;
}

@media screen and (max-width: 1400.0041px) {
  main .Subscribe .Subscribe__form .Subscribe__label {
    top: 25%;
  }
}

@media screen and (max-width: 1250.0521px) {
  main .Subscribe .Subscribe__form .Subscribe__label {
    top: 17.5%;
  }
}

@media screen and (max-width: 1080.0801px) {
  main .Subscribe .Subscribe__form .Subscribe__label {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 860.068px) {
  main .Subscribe .Subscribe__form .Subscribe__label {
    top: 0;
    font-size: 2.9vw;
  }
}

main .Subscribe .Subscribe__form form {
  text-align: right;
  position: relative;
  top: 25%;
  font-family: IranSans;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

@media screen and (max-width: 1400.0041px) {
  main .Subscribe .Subscribe__form form {
    top: 30%;
  }
}

@media screen and (max-width: 1250.0521px) {
  main .Subscribe .Subscribe__form form {
    top: 17.5%;
  }
}

@media screen and (max-width: 860.068px) {
  main .Subscribe .Subscribe__form form {
    -ms-grid-columns: 27.5% 67.5%;
        grid-template-columns: 27.5% 67.5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
  }
}

@media screen and (max-width: 600.006px) {
  main .Subscribe .Subscribe__form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
}

main .Subscribe .Subscribe__form form #S_Submit {
  background-color: #FFDF00;
  width: 220px;
  height: 70px;
  font-size: 1.5rem;
  color: #2E5D6A;
  border-radius: 10px;
  border: 0px;
  -webkit-box-shadow: 0 10px 30px -5px #FFDF00;
          box-shadow: 0 10px 30px -5px #FFDF00;
  text-align: center;
  font-family: IranSans;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .Subscribe .Subscribe__form form #S_Submit:hover {
  color: #33B8BF;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media screen and (max-width: 1400.0041px) {
  main .Subscribe .Subscribe__form form #S_Submit {
    height: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600.006px) {
  main .Subscribe .Subscribe__form form #S_Submit {
    margin: 25px auto;
  }
}

main .Subscribe .Subscribe__form form #S_Email {
  margin: 0 0 0 30px;
  background-color: #FFFFFF;
  width: 465px;
  height: 70px;
  padding: 0 2% 0 0;
  text-align: right;
  font-size: 1.2rem;
  color: #2E5D6A;
  border-radius: 10px;
  border: 1.5px solid #B7B7B7;
  font-family: IranSans;
}

@media screen and (max-width: 1400.0041px) {
  main .Subscribe .Subscribe__form form #S_Email {
    height: 50px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1100.0011px) {
  main .Subscribe .Subscribe__form form #S_Email {
    padding: 0;
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 860.068px) {
  main .Subscribe .Subscribe__form form #S_Email {
    width: 100%;
  }
}

@media screen and (max-width: 600.006px) {
  main .Subscribe .Subscribe__form form #S_Email {
    margin: 0 auto;
    width: 95%;
  }
}

main .Subscribe .Subscribe__img {
  margin-left: -10px;
  padding-top: 50px;
}

main .Subscribe .Subscribe__img img {
  width: 100%;
  max-width: 425px;
}

@media screen and (max-width: 1250.0521px) {
  main .Subscribe .Subscribe__img img {
    width: 75%;
  }
}

@media screen and (max-width: 600.006px) {
  main .Subscribe .Subscribe__img img {
    width: 50%;
  }
}

@media screen and (max-width: 1250.0521px) {
  main .Subscribe .Subscribe__img {
    padding-top: 25px;
  }
}

main .Ad {
  position: relative;
  width: 90vw;
  margin: 0 auto -5px;
  text-align: center;
}

@media screen and (max-width: 1100.0011px) {
  main .Ad {
    width: 95vw;
  }
}

@media screen and (max-width: 800.008px) {
  main .Ad {
    width: 100vw;
  }
}

main .Ad .Ad__Topic {
  color: #2E5D6A;
  margin: 7.5% auto;
  font-size: 2.8rem;
  direction: rtl;
  font-family: YekanBold;
}

@media screen and (max-width: 740.047px) {
  main .Ad .Ad__Topic {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 590.095px) {
  main .Ad .Ad__Topic {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800.008px) {
  main .Ad .Ad__Topic {
    margin-bottom: 2.5% 0 0;
  }
}

main .Ad .Ad__Topic span {
  font-size: 3.8rem;
  font-weight: bolder;
  text-shadow: 0 0 2px #2E5D6A;
}

@media screen and (max-width: 740.047px) {
  main .Ad .Ad__Topic span {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 590.095px) {
  main .Ad .Ad__Topic span {
    font-size: 2rem;
  }
}

main .Ad .Ad__Places {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 15% 15% 15% 15% 15%;
      grid-template-columns: 15% 15% 15% 15% 15% 15%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1100.0011px) {
  main .Ad .Ad__Places {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 250px 250px;
        grid-template-rows: 250px 250px;
  }
}

@media screen and (max-width: 800.008px) {
  main .Ad .Ad__Places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

main .Ad .Ad__Places .Ad__Places--place {
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */